<!-- jquery for getting user position coordinates and sending with the form -->
{% load static %}
<script src="{% static 'parkalot/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'parkalot/js/script.js' %}"></script>

<h2>Start parking Today!</h2>

<!-- User starts parking and send his id, coordinates -->
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'customer' customer_id %}" method="post" id="startParkForm">
    {% csrf_token %}
    <input hidden type="text" name="customerId" id="customerId" value="{{ customer_id }}">
    <input hidden type="text" name="coordinates" id="coordinates" value="">
    <input type="submit" value="startPark">
</form>
