<!-- Quick and dirty style, should add it as a static .css -->
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<!-- Display ongoing parkings -->
<h2>ONGOING PARKING</h2>
{% if ongoing_parkings %}
    <hr>
    <table style="width: 20%">
        <tr>
            <th>Customer Car Reg. Plate</th>
            <th>Parking Start Date</th> 
        </tr>
        {% for parking in ongoing_parkings %}
            <tr>
                <td><a href="{% url 'customer' parking.customer.id %}"">{{ parking.customer.carRegistrationNumber }}</a></td>
                <td>{{ parking.startDate }}</td> 
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No ongoing parkings.</p>
{% endif %}

<h2>FINISHED PARKINGS</h2>
{% if finished_parkings %}
    <hr>
    <table style="width: 20%">
        <tr>
            <th>Customer Car Reg. Plate</th>
            <th>Parking Start Date</th> 
            <th>Parking Finished Date</th>
            <th>Parking Length</th>
        </tr>
        {% for parking in finished_parkings %}
            <tr>
                <td><a href="{% url 'customer' parking.customer.id %}"">{{ parking.customer.carRegistrationNumber }}</a></td>
                <td>{{ parking.startDate }}</td> 
                <td>{{ parking.endDate }}</td> 
                <td>{{ parking.get_parking_length }}</td> 
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No finished parkings yet.</p>
{% endif %}